.back{
    margin-top: -100px !important;
    padding: 20px !important;
    background: transparent !important;
} 
.back .card{
    
    border-radius: 8px !important;
    transition: 0.3s;
    display:flex;
    justify-content:space-around;
}
.card p{
text-align: center;
}

.card-title{
    text-align: center;
    color: red;
}

.card-title p{
    text-align: center;
}

.card a{
    border-radius: 8px !important;
    text-decoration: none;
}

.card a:hover {

    text-decoration: none;
    background-color: #bbbb;
    
    
}

.card-img-bottom{
    height: 100%;
    width: 100%;
}

.card-group{
   margin-top: 0px;
   
}
