body{
    margin:0 auto;
    padding: 0;
    width: 100%;
    background: rgb(247, 243, 243) !important;
}

.product .container img{
    border-radius: 8px;    
}

.bestseller .container1{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    margin:  20px auto;
    background: white;
    padding: 20px;
}
.bestseller .container1 h4 a{
    font-family: monospace;
    font-size: 25px; 
    color: black; 
}
.bestseller .container1 h4 a:hover{
    color: rgb(17, 17, 192);
    text-decoration: none;
}

.bestseller .owl-carouse .item .product a{
    overflow: hidden;
    margin: 5px 5px 5px 5px;
}
.bestseller .owl-carousel .item .product img{
    margin: 5px 5px 5px 5px;
}

.bestseller .owl-carousel .item .product img:hover{
    transition: 300ms;
    transform: scale(1.1);
    opacity: 1;
}

.bestseller .owl-carousel .item .product h6{
    margin: 8px !important;
    font-weight: 600s;
}

.bestseller .owl-carousel .item .product .price{
    font-weight: 300;
    font-size: 12px;
}

.bestseller .owl-carousel .owl-nav button{
    position: absolute;
    top:20%;
    outline: none;
}

.bestseller .owl-carousel .owl-nav button.owl-prev{
    left: 0;
    
}

.bestseller .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.bestseller .owl-carousel .owl-nav button.owl-prev span{
    font-size: 35px;
    color: black;
    margin-left: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span{
    font-size: 35px;
    color: black;
    margin-right: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span:hover,
.bestseller .owl-carousel .owl-nav button.owl-prev span:hover{
    transform: scale(1);
}

.policy {
    display: flex !important;
    text-align: center !important;
    justify-content: space-between !important;
    margin: auto;
}

.product .col-sm-6 .money{
    text-align: center;
    font-size: large;
}
.product a{
    color: black;
}

/* .product form .form-control{
    background: #f4f4f4;
} */

.product .container a:hover{
    text-decoration: none !important;
    color: black !important;
}

.product .container form h6 {
    font-family: monospace !important;
    font-weight: bolder !important;
}

.product .container ul li{
    font-family:ui-monospace;
    font-weight:bold;
}

.product .container form select,
.product .container form input[type=text]{
    background: #f4f4f4 !important;
}

.product .container form .btn-primary{
    background: #006eff !important;
}
.product .container h2{
    font-family: monospace !important;
    font-weight:bold !important;
}
.product .container form p{
    font-weight: 200;
}