

.search-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: black;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    border-color: none;
    padding: 10px;
}


.search-btn{
    color:white;
    float: right;
    border-radius: 50%;
    margin-top: 10px;
    background:none;
    display: flex;
    justify-content:space-between;
    align-items:center;
    transition: 300ms;
}

.search-box:hover >.search-btn{
    text-decoration: none;
    color: white;
    transform: scale(1.2);
    }



.search-txt{
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-style:normal;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px; 
    width: 100%;
    
}



 

