body{
    margin:0 auto;
    padding: 0;
    width: 100%;
    background: rgb(247, 243, 243) !important;
}

.bestseller .container1{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    margin:  20px auto;
    background: white;
    padding: 20px;
}

.bestseller .container1 h4 a{
    font-family: monospace;
    font-size: 25px; 
    color: black; 
}

.bestseller .container1 h4 a:hover{
    color: rgb(17, 17, 192);
    text-decoration: none;
}

.bestseller .owl-carouse .item .product a{
    overflow: hidden;
    margin: 5px 5px 5px 5px;
}

.bestseller .owl-carousel .item .product img{
    margin: 5px 5px 5px 5px;
}

.bestseller .owl-carousel .item .product img:hover{
    transition: 300ms;
    transform: scale(1.1);
    opacity: 1;
}

.bestseller .owl-carousel .item .product h6{
    margin: 8px !important;
    font-weight: 600s;
}

.bestseller .owl-carousel .item .product .price{
    font-weight: 300;
    font-size: 12px;
}

.bestseller .owl-carousel .owl-nav button{
    position: absolute;
    top:20%;
    outline: none;
}

.bestseller .owl-carousel .owl-nav button.owl-prev{
    left: 0;
    
}

.bestseller .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.bestseller .owl-carousel .owl-nav button.owl-prev span{
    font-size: 35px;
    color: black;
    margin-left: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span{
    font-size: 35px;
    color: black;
    margin-right: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span:hover,
.bestseller .owl-carousel .owl-nav button.owl-prev span:hover{
    transform: scale(1);
}

@media only screen and (max-width: 630px){
    .bestseller .owl-carousel .item .product h6{
        font-size: 12px;
    }
}

.fanlove .container1{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    margin:  20px auto;
    background: white;
    padding: 20px;
}

.fanlove .container1 h4 {
    font-family: monospace;
    font-size: 25px; 
    color: black; 
}

.fanlove .container1 .item .product .fa-quote-right{
    font-size: 20px;
}

.fanlove .container1 .item .product p{
    font-size: 16px;
    font-weight: 550;
    font-family:monospace;
}

.fanlove .container1 .item .product .name{
    font-weight:lighter;
    font-family: sans-serif;
}

.fanlove .owl-carousel .owl-nav button{
 display: none !important;
}

.fanlove .owl-carousel .owl-dots{
    font-size: 35px;
    color: black;
    margin: auto;
}

.fanlove .owl-carousel .owl-dots button{
    color: black;
    margin: auto;
}
