body{
    margin:0 auto;
    padding: 0;
    width: 100%;
    background: rgb(247, 243, 243) !important;
}

.back{
    margin-top: -60px;
    padding: 20px;
    background: none;
} 
.card{
    border-radius: 8px !important;
    transition: 0.3s;
    display:flex;
    justify-content:space-around;
}
.card p{
text-align: center;
}

.card-title{
    text-align: center;
    color: red;
}

.card-title p{
    text-align: center;
}

.card a{
    border-radius: 8px !important;
    text-decoration: none;
}

.card a:hover {

    text-decoration: none;
    background-color: #bbbb;
    
    
}

.card-img-bottom{
    height: 100%;
    width: 100%;
}

.card-group{
   margin-top: 0px;
   
}



.bestseller .container1{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    margin:  20px auto;
    background: white;
    padding: 20px;
}
.bestseller .container1 h4 a{
    font-family: monospace;
    font-size: 25px; 
    color: black; 
}
.bestseller .container1 h4 a:hover{
    color: rgb(17, 17, 192);
    text-decoration: none;
}

.bestseller .owl-carouse .item .product a{
    overflow: hidden;
    margin: 5px 5px 5px 5px;
}
.bestseller .owl-carousel .item .product img{
    margin: 5px 5px 5px 5px;
}

.bestseller .owl-carousel .item .product img:hover{
    transition: 300ms;
    transform: scale(1.1);
    opacity: 1;
}

.bestseller .owl-carousel .item .product h6{
    margin: 8px !important;
    font-weight: 600s;
}

.bestseller .owl-carousel .item .product .price{
    font-weight: 300;
    font-size: 12px;
}

.bestseller .owl-carousel .owl-nav button{
    position: absolute;
    top:20%;
    outline: none;
}

.bestseller .owl-carousel .owl-nav button.owl-prev{
    left: 0;
    
}

.bestseller .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

.bestseller .owl-carousel .owl-nav button.owl-prev span{
    font-size: 35px;
    color: black;
    margin-left: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span{
    font-size: 35px;
    color: black;
    margin-right: -1.5rem;
    padding:0;
    transition: 100ms;
    transform: scale(.8);
}

.bestseller .owl-carousel .owl-nav button.owl-next span:hover,
.bestseller .owl-carousel .owl-nav button.owl-prev span:hover{
    transform: scale(1);
}

@media only screen and (max-width: 630px){
    .bestseller .owl-carousel .item .product h6{
        font-size: 12px;
    }
}